{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>洋楽を用いた英語ディクテーション学習サイト</title>

</head>

<body>
    <header>
        <div class="container">
            <center><h1>洋楽を用いた英語ディクテーション学習サイト</h1>
            <div class="header-menu1">

                {% if request.user.is_authenticated %}

                <a href="{% url 'app:users_detail' request.user.id %}">マイページ</a>
                <a href="{% url 'app:logout' %}">ログアウト</a>

            </div>


              <div class="header-menu2">
                {% else %}
                    <a href="{% url 'app:login' %}">ログイン</a>
                    <a href="{% url 'app:signup' %}">アカウント登録</a>
                {% endif %}
            </div>
        </div>
        <style>
        h1{
          line-height:260px;
          text-align:center;
          font-size:3em;

        }
        .header-menu1{
          line-height:50px;
          text-align:center;
          font-size:2em;

        }
        .header-menu2{
          line-height:50px;
          text-align:center;
          font-size:2em;

        }
        </style>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>

</html>

{% for question in questions %}
  <div>
      <h2><a href="">{{ question.song }}</a></h2>
  </div>

{% endfor %}
