
<html>

    <body>

      <header>
          <div class="container">
              <center><h1>洋楽を用いた英語ディクテーション学習サイト</h1>

          </div>

          <style>
          h1{
            line-height:260px;
            text-align:center;
            font-size:3em;

          }

          </style>

          <center><h2 class="user-name">@{{ user.username }}さん</h2>

      </header>

        <div>
            <h1 align="center">高校生向け問題</h1>
        </div>

        <style>
        h1{
          line-height:140px;
          text-align:center;
          font-size:3em;

        }
        </style>


        <p style="text-align:center;"><font size="5">＜ルール説明＞</p>
        <p style="text-align:center;">　　1.曲と問題がランダムで5問選択され出題されます。</p>
        <p style="text-align:center;">2.1問あたり1フレーズが出題範囲となります．</p>
        <p style="text-align:center;">　3.高校生が学ぶ範囲の単語が穴埋めとなります。</p>
        <p style="text-align:center;">4.曲を聞いて穴埋めに入る単語を入力します。</p>
            <br>



        <div>
            <h2 align="center"><a href="{% url 'app:Hquestion' %}">スタート</a></h2>

        </div>
    </body>
</html>
