<html>
    <head>
        <title>洋楽を用いた英語ディクテーション学習システム</title>

    </head>

    <body>
        <div>
            <center><h1>{{song.singer}}　-　{{song.song_name}}</h1>
            <h1 align="center"><font color="red">解答</font></h1>
        </div>

        <div>
               <center><h1>{{question.question}}</h1>
        </div>

      <form method="POST" action="/JHquestion/">
        {% csrf_token %}
        TODO:５問目の時は飛ぶ先を変える必要あり
        <input type="hidden" name="question_seq" value="{{question_seq|add:1}}">
        <input type="submit" value="{{question_seq|add:1}}問目へ" style="position:absolute; left:47%; top:76%; width:120px; height:40px">
      </form>
  </body>
</html>
