<header>
    <div class="container">
        <center><h1>洋楽を用いた英語ディクテーション学習サイト</h1>
        <div class="header-menu">

            <a href="{% url 'app:logout' %}">ログアウト</a>

        </div>

    </div>
    <style>
    h1{
      line-height:260px;
      text-align:center;
      font-size:3em;

    }
    .header-menu{
      line-height:50px;
      text-align:center;
      font-size:2em;

    }

    </style>
</header>

<center><h2 class="user-name">@{{ user.username }}さん</h2>

<div class=to-jh>
    <h3><a href="{% url 'app:JHstart' %}">中学生向け問題へ</a></h3>

</div>

<style>
.to-jh{
  line-height:250px;
  margin-left:350px;
  font-size:1.4em;
  float:left;

}
</style>
<div class=to-h>
<h3><a href="{% url 'app:Hstart' %}">高校生向け問題へ</a></h3>

</div>

<style>
.to-h{
line-height:308px;
margin-left:800px;
font-size:1.4em;


}
</style>
